<!DOCTYPE html>
<html>
<head>
	<title>Add Course</title>
	<meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body align="center" style="margin-top: 20px;" >
	<h2 align="center"> Add Course </h2>
	<div class="col-md-6 offset-3 mt-5 card shadow-lg h-90" >
	<div class="card-body "> 
	<form method="post" enctype="multipart/form-data">
	    {% csrf_token %}
	    
		{% for i in obj %}


		{% if forloop.counter == 1 %}

			{{i}}
			<div class="mt-2 ml-3">**{{i.field.help_text}}</div><br>

		{% elif forloop.counter == 2 %}

			<label for="id_video" >Upload the course banner</label><br>
			{{i}}<br><BR>

		{% elif forloop.counter == 3 %}

			<label for="id_video" >Upload the course video</label><br>
			{{i}}<br>			

		{% else %}

			{{i}}

		{% endif %}			
		
		
	

		{% endfor %}

		<div class="row mt-2" >
		<a href="{% url 'a_home' %}" class="mx-auto col-md-4 form-control btn btn-outline-primary">Return to Home</a>
	    <input type="submit" class="col-md-4 mx-auto form-control btn btn-outline-success" value="Upload">
		</div>
	</form>
	</div>
	</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</body>
</html>
