<!DOCTYPE html>
<html>
<head>
	<title>Add Course</title>
	<meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <style type="text/css">
  	table
  	{
  		border-collapse: separate;
  		border-spacing: 10px 10px;
  	}
  </style>
</head>
<body align="center" style="margin-top: 20px;" >

<div class="container">
  <div class="jumbotron mt-4">
	<h3>Thanks for spending some quality time with the E-learning today.</h3>
	<br><br>
	<div class="row">
	<a href="{% url 'login' %}" class="mx-auto col-md-4 form-control btn btn-outline-success ">Log in Again</a>
	<a href="{% url 'visit' %}" class="col-md-4 mx-auto form-control btn btn-outline-primary">Return to Home</a>
  	</div>
  </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</body>
</html>


