



<nav class="navbar navbar-expand-sm navbar-light bg-light" style="border-bottom: 2px solid grey">
  
    <a class="navbar-brand " href="{% url 'home' %}"><strong>  E-Learning  </strong></a>
    
    
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
    <span class="navbar-toggler-icon"></span>
    </button>
    
    <ul class="navbar-nav ml-auto mr-2">
      <!-- <li class="nav-item">
        <a class="nav-link" href="{% url 'a_home' %}"><strong> Create Course </strong></a>
      </li> -->
      {% if user.is_authenticated %}
      <!-- <li class="nav-item">
        <a class="nav-link" href="#"><strong> My Learning </strong></a>
      </li> -->
      <li class="nav-item">
        <a class="nav-link" href="logout">Logout</a>
      </li>
      {% else %}
      <li class="nav-item ">
        <a class="nav-link" href="{% url 'login' %}">Login</a>
      </li>
      <li class="nav-item dropdown mr-3">
        <a class="nav-link dropdown-toggle" href="http://example.com" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Sign Up
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" href="{% url 'signup' %}">Student</a>
          <a class="dropdown-item" href="{% url 'a_signup' %}">Teacher</a>
        </div>
      </li>        
      {% endif %}
    </ul>
    


</nav>

